{{#if projects}}
    <div class="grid-x grid-padding-x">
    {{#each projects}}
            <div class="medium-3 columns cell">
                <img class="thumbnail" src="/images/portfolio/{{image}}">
                <h5 class="text-center">{{title}}</h5>
                <p class="text-center show"><a href="/details/{{id}}">Show More</a></p>
            </div>
    {{/each}}
    </div>
{{else}}
    <p>No projects</p>
{{/if}}

<hr>
<a href="/admin">Admin Area</a>